* {
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 97vh;
    position: relative;
    background-color: var(--midnight);
}
main{
    width: 500px;
    height: auto;
    padding: 20px;
    margin: 20px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 50px;
    background-color: var(--deep);
}
#perfil{
    max-width: 120px;
    border-radius: 100px;
}
h2{
    color: #FFFFFF;
}
p {
    color: #C7D2FE;
    text-align: center;
    align-items: center;
}
.habilidades {
    width: 260px;
    display: flex;
    
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

    color: #FFFFFF;
    background-color: var(--midnight);
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    padding: 10px;
    list-style: none;
}

.imgs{
    max-width: 80vw;
    height: 170px;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 20px;
    background-color: var(--deep);
}
.projects {
    cursor: pointer;
    max-width: 190px;
    border-radius: 5px;
}
footer {
    width: 100vw;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: var(--deep);

    position: absolute;
    bottom: 0;
    left: 0;
} 
a {
    padding: 0 5px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}
a:hover{
    color: #06B6D4;
}
.projects:hover{
    max-width: 200px;
}